mat-dialog-content{
    width:80%;

}

.mdc-dialog__surface{
    width:100%;
}

.full-screen-dialog {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
  }
.table{
    width:1200px;
}
