<!-- dialog-box.component.html -->
<h1 mat-dialog-title>
 CLICK TO EDIT THE FIELDS :: <strong>{{ action }}</strong>
</h1>
<div mat-dialog-content style="background-color:#FFFFFF;width:800px !important;height:530px;">

<form class="example-form" style="background-color:#FFFFFF;width:1300px;height:700px;margin-left:50px;"
[formGroup]="updateForm" >

  <table *ngIf="action != 'Delete'; else elseTemplate">
    <th></th>
    <tbody>
      <br>
      <tr>
        <td>
          <label style="margin-left:30px;font: normal normal bold 18px Lato;">Name(Kana)LastName</label><br>
      
        <input class="form-control" id="kanalastname"
        formControlName="kanalastname"
        placeholder="{{ action }} Kanalastname"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.kanalastname"
      /></td>
        <td>
          <label style="margin-left:30px;font: normal normal bold 18px Lato;">Name(Kana)Name</label><br>
       
        <input class="form-control" id="kananame"
        formControlName="kananame"
        placeholder="{{ action }} Kananame"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.kananame"
      /></td>
        
         <td>
          <label style="margin-left:30px;font: normal normal bold 18px Lato;">Email Id</label><br>
         
        <input class="form-control" id="email"
        formControlName="email"
        placeholder="{{ action }} Email Id"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.email"
      /></td>

      </tr>
<br>
      <tr>
        <td>
          <label style="margin-left:30px;font: normal normal bold 18px Lato;">Customer Name(Kanji)Name</label><br>
        
        <input class="form-control" id="kanjiname"
        formControlName="kanjiname"
        placeholder="{{ action }} Kanjiname"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.kanjiname"
      /></td>
        <td>
          <label style="margin-left:30px;font: normal normal bold 18px Lato;">Customer Name(Kanji)Lastname</label><br>
          
        <input class="form-control" id="kanjilastname"
        formControlName="kanjilastname"
        placeholder="{{ action }} Kanjilastname"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.kanjilastname"
      /></td>
        <td>
          <label style="margin-left:30px;font: normal normal bold 18px Lato;">Gender</label><br>
          
        <input class="form-control" id="gender"
        formControlName="gender" 
        placeholder="{{ action }} gender"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.gender"
      /></td>

      </tr>

      <br>
      <tr>
        <td> <label style="margin-left:30px;font: normal normal bold 18px Lato;">Date Of Birth</label><br>
          
        <input class="form-control" id="dob"
        formControlName="dob" 
        placeholder="{{ action }} D.O.B"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.dob"
      /></td>

        <td>
          <label style="margin-left:30px;font: normal normal bold 18px Lato;">Cell Phone 1 </label><br>
         
        <input class="form-control" id="cell1"
        formControlName="cell1" 
        placeholder="{{ action }} cell1"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.cell1"
      /></td>
        <td>
          <label style="margin-left:30px;font: normal normal bold 18px Lato;">Cell Phone 2</label><br>
        
        <input class="form-control" id="cell2"
        formControlName="cell2" 
        placeholder="{{ action }} cell2"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.cell2"
      /></td>

      </tr>
      <br>
      <tr>

        <td><label style="margin-left:30px;font: normal normal bold 18px Lato;">Address Line 1</label><br>
          
        <input class="form-control" id="add1"
        formControlName="add1" 
        placeholder="{{ action }} add1"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.add1"
      /></td>
        <td><label style="margin-left:30px;font: normal normal bold 18px Lato;">Address Line 2</label><br>
         
        <input class="form-control" id="ad2"
        formControlName="add2" 
        placeholder="{{ action }} add2"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.add2"
      /></td>
        <td><label style="margin-left:30px;font: normal normal bold 18px Lato;">Address Line 3</label><br>
         
        <input class="form-control" id="add3"
        formControlName="add3" 
        placeholder="{{ action }} add3"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.add3"
      /></td>
      </tr>
      <br>
      <tr>
        <td>
          <label style="margin-left:30px;font: normal normal bold 18px Lato;">Area Code</label><br>
         
        <input class="form-control" id="phone1"
        formControlName="phone1" 
        placeholder="{{ action }} Area code"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.phone1"
      /></td>
        <td><label style="margin-left:30px;font: normal normal bold 18px Lato;">Exchange Number</label><br>
          
        <input class="form-control" id="phone2"
        formControlName="phone2" 
        placeholder="{{ action }} Exchange Number"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
        matInput
        [(ngModel)]="local_data.phone2"
      /></td>
      <td><label style="margin-left:30px;font: normal normal bold 18px Lato;">Subscriber Number</label><br>
       
      <input class="form-control" id="phone3"
      formControlName="phone3" 
      placeholder="{{ action }} Subscriber Number"  style="height:40px;width:350px;margin-left:30px;text-align: left;font: normal normal normal 18px/63px Lato;letter-spacing: 0px;color: #4B4B4B;opacity: 1;background-color: #F5F5F5;border-radius:8px;text-align:center;"
      matInput
      [(ngModel)]="local_data.phone3"
    /></td>
      </tr> 


    </tbody>
  </table>
</form>

  
  <ng-template #elseTemplate>
    <p>Please verify the data before you proceed to delete -</p> 
    <hr>
    <p><label style="margin-left:260px;font: normal normal bold 18px Lato;">Name(Kana)LastName</label><br><b style="margin-left:260px;">{{local_data.kanalastname}}</b></p>
    <br>
    <p><label style="margin-left:260px;font: normal normal bold 18px Lato;">Name(Kana)Name</label><br><b style="margin-left:260px;">{{local_data.kananame}}</b>
    </p>
    <br>
    <p><label style="margin-left:260px;font: normal normal bold 18px Lato;">Email</label><br><b style="margin-left:260px;">{{local_data.email}}</b>
    </p>
    <br>
    <p> <label style="margin-left:260px;font: normal normal bold 18px Lato;">Cell-1</label><br><b style="margin-left:260px;">{{local_data.cell1}}</b>
    </p>
    <hr>
      <p style="margin-left:190px;font: normal normal bold 18px Lato;">Are you sure you want to delete ?</p>  
   
  </ng-template>
</div>
<div mat-dialog-actions>
  
 
  <button mat-button (click)="updatesSubmitted(action)">Submit {{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Close
  </button>
  
    
</div>

