<!-- Section: Split screen -->
<div class="container">
    <span class="blueLabel"></span>
    <span class="evasLabel"></span>
    <section class="">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cardPosition">
                        <h4 class="signInicon">忘れたパスワードの問い合わせ</h4>

                        <span class="labelCss">
                            パスワード再設定処理通知をメールに送信するため、
                            EVAS IDとEVAS登録メールアドレスを入力してください。
                        </span>
                        <br><br>
                        <div>
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="mb-3">



                                    <br>
                                    <label class="form-label labelCss">EVAS ID</label>
                                    <br>
                                    <mat-form-field class="setWidth">
                                        <span matPrefix class="userIcon"> <mat-icon>perm_identity</mat-icon></span>
                                        <input matInput formControlName="evasId" type="text" class="inputClass"
                                            [ngClass]="{ 'is-invalid': submitted && f.evasId.errors }">
                                        <mat-error *ngIf="submitted && f.evasId.errors || f.evasId.errors?.required"
                                            class="invalid-feedback errorCss"> EVAS IDを入力してください。</mat-error>

                                    </mat-form-field>


                                </div>
                                <div class="mb-3">



                                    <label class="form-label labelCss">EVAS登録メールアドレス</label>
                                    <br>
                                    <mat-form-field class="setWidth">
                                        <span matPrefix class="lockIcon"><span
                                                class="material-icons-outlined">email</span></span>

                                        <input matInput class="inputClass" formControlName="email" type="email"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors  }">


                                        <mat-error *ngIf="submitted && f.email.errors || f.email.errors?.required"
                                            class="invalid-feedback errorCss ">メールアドレスを入力してください。</mat-error>



                                    </mat-form-field>

                                </div>



                                <div class="row">
                                    <div class="col-3">
                                        <button (click)="back()" class=" btn-secondary backbuttonCss"
                                            (click)="back()">戻る
                                        </button>
                                    </div>
                                    <div class="col-sm-3"></div>
                                    <div class="col-1">
                                        <button (click)="onSubmit()" [disabled]="loading "
                                            class="btn btn-primary loginImg">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                            送信
                                        </button>
                                    </div>




                                </div>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-3">

                    <div class="parent">
                        <img class="blueImg image1" src="/assets/MaskGroup3.png" alt="image">
                        <img class="blueImg image2" src="/assets/Rectangle.png" alt="image">

                        <img class=" image4" src="/assets/Rectangle1.png" alt="image">
                        <div class="blueImg image3">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<!-- Section: Split screen -->