<!-- Section: Split screen -->
<div class="container">
    <span class="blueLabel"></span>
    <span class="evasLabel"></span>
    <section class="">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cardPosition">
                        <h4 class="signInicon">Password Change</h4>

                        <div>
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="mb-3">
                                    <br>
                                    <label class="form-label labelCss">EVAS ID</label>
                                    <br>
                                    <mat-form-field class="setWidth">
                                        <span matPrefix class="userIcon"> <mat-icon>perm_identity</mat-icon></span>
                                        <input matInput class="inputClass" formControlName="evasId"
                                            placeholder="Enter EVAS ID" type="text"
                                            [ngClass]="{ 'is-invalid': submitted && f.evasId.errors }">
                                        <mat-error *ngIf="submitted && f.evasId.errors || f.evasId.errors?.required"
                                            class="invalid-feedback">EVAS ID is required</mat-error>

                                    </mat-form-field>


                                </div>
                                <div class="mb-3">
                                    <label class="form-label labelCss">Password</label>
                                    <br>
                                    <mat-form-field class="setWidth">
                                        <span matPrefix class="lockIcon"><span
                                                class="material-icons-outlined">lock</span></span>


                                        <input matInput class="inputClass" formControlName="password"
                                            placeholder="Enter Password" [type]="hide ? 'password' : 'text'"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors  }">

                                        <mat-error *ngIf="f.password.errors?.required" class="invalid-feedback">
                                            Password is required.
                                        </mat-error>

                                        <span matSuffix class="eyeIcon" *ngIf="f.password.value"> <mat-icon
                                                (click)="hide = !hide">{{hide ? 'visibility_off' :
                                                'visibility'}}</mat-icon></span>
                                    </mat-form-field>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label labelCss">New Password</label>
                                    <br>
                                    <mat-form-field class="setWidth">
                                        <span matPrefix class="lockIcon"><span
                                                class="material-icons-outlined">lock</span></span>


                                        <input matInput class="inputClass" formControlName="newPassword"
                                            placeholder="Enter New Password" [type]="hide ? 'password' : 'text'"
                                            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors  }">

                                        <mat-error *ngIf="f.newPassword.errors?.required" class="invalid-feedback">
                                            New Password is required.
                                        </mat-error>
                                        <mat-error *ngIf="f.newPassword.hasError('passwordStrength')"
                                            class="invalid-feedback errorCss">
                                            Password conditions are not meet
                                        </mat-error>

                                        <span matSuffix class="eyeIcon" *ngIf="f.newPassword.value"> <mat-icon
                                                (click)="hide = !hide">{{hide ? 'visibility_off' :
                                                'visibility'}}</mat-icon></span>
                                    </mat-form-field>

                                </div>


                                <div class="mb-3">
                                    <label class="form-label labelCss">Confirm Password</label>
                                    <br>
                                    <mat-form-field class="setWidth">
                                        <span matPrefix class="lockIcon"><span
                                                class="material-icons-outlined">lock</span></span>


                                        <input matInput class="inputClass" formControlName="confirmPassword"
                                            placeholder="Enter Confirm Password" [type]="hide ? 'password' : 'text'"
                                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors  }">
                                        <mat-error *ngIf="f.confirmPassword.hasError('passwordStrength')"
                                            class="invalid-feedback errorCss">
                                            Password conditions are not meet
                                        </mat-error>

                                        <mat-error
                                            *ngIf="f.confirmPassword.touched&&f.confirmPassword.value!=f.password.value">
                                            Password does not match
                                        </mat-error>


                                        <span matSuffix class="eyeIcon" *ngIf="f.confirmPassword.value"> <mat-icon
                                                (click)="hide = !hide">{{hide ? 'visibility_off' :
                                                'visibility'}}</mat-icon></span>
                                    </mat-form-field>





                                </div>
                                <br>
                                <div>
                                    <button [disabled]="loading" class="btn btn-primary loginImg">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                        Confirm
                                    </button>



                                </div>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="parent">
                        <img class="blueImg image1" src="/assets/MaskGroup3.png" alt="image">
                        <img class=" image2" src="/assets/Rectangle.png" alt="image">
                        <img class=" image4" src="/assets/Rectangle1.png" alt="image">
                        <div class="blueImg image3">
                            <pre class="setContent">
<h2>Password rules:</h2>
•Set a password with minimum 12 characters
 including alphabets (uppercase and lowercase), numbers, and symbols.
• Alphabets are case sensitive.
• Symbols allowed to be used are: ! " # $ % & ' ( ) + - . / : @ [ ] _ . 
•Cannot reuse the password used in the previous 5 times.
 
                                </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<!-- Section: Split screen -->