<mat-card style="background:#F5F5F5;height:1500px;width:1420px;margin-left:10px;overflow-x: hidden; ">
    <mat-card-header style="margin-bottom:20px; ">
        <mat-card-title layout="row" layout-align="center center" style="margin-left:20px;text-align: left;MARGIN-TOP:50PX;
        font: normal normal bold 22px Lato;
        letter-spacing: 0px;
        color: #7C7C7C;
        opacity: 1;">List of All Used Cars || 全中古車一覧 || Zen chūko-sha ichiran</mat-card-title>
        <div class="example-button-row">
            <button mat-button style="margin-left:400px;margin-top:40px;background-color:#001E50;color:#FFFFFF;"
                (click)="information()">View Records || 記録を見る || Kiroku o miru </button>
            <!-- <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
        </div>

    </mat-card-header>

    <br>
    <table>
        <!-- <tr>
            <td>
                <mat-label> Search By Model Code </mat-label>
            </td>
            <td>
                <mat-label> Search By PR Code </mat-label>
            </td>
            <td>
                <mat-label> Search By Inventory Availability</mat-label>
            </td>
            <td>
                <mat-label> Search By Payment Terms </mat-label>
            </td>


        </tr>


        <tr>
            <td>
                <input matInput (keyup)="applyFilter($event)" placeholder="型式コード || Katashiki kōdo" #input
                    Style="background-color:white;height:30px;width:320px;">

            </td>
            <td>
                <input matInput (keyup)="applyFilter($event)" placeholder="PRコード || PR kōdo" #input
                    Style="background-color:white;height:30px;width:320px;">

            </td>
            <td>
                <input matInput (keyup)="applyFilter($event)" placeholder="在庫状況 || Zaiko jōkyō" #input
                    Style="background-color:white;height:30px;width:320px;">

            </td>
            <td>
                <input matInput (keyup)="applyFilter($event)" placeholder="支払い条件 || Shiharai jōken" #input
                    Style="background-color:white;height:30px;width:320px;">

            </td>




        </tr> -->

        <tr>
            <td>
                <mat-label style="margin-left:100px;"> Search By Sorting Number </mat-label>
            </td>

            <td>
                <mat-label> Search By Model Type</mat-label>
            </td>
           

        </tr>



        <tr>
            <td>
                <input matInput (keyup)="applyFilter($event)" placeholder="ぶんるいばんごう" #input
                    Style="background-color:white;height:30px;width:400px;margin-left:100px;"[(ngModel)]="model.typecode"[ngModelOptions]="{standalone: true}">

            </td>
            <td>
                <input matInput (keyup)="applyFilter($event)" placeholder="モデルタイプ" #input
                    Style="background-color:white;height:30px;width:400px;"[(ngModel)]="model.sortno"[ngModelOptions]="{standalone: true}">

            </td>
            



        </tr>
    </table>

    <hr>
    <mat-form-field>
        <mat-label> Search record || 検索記録 || Kensaku kiroku ||</mat-label>
        <input matInput (keyup)="applyFilterSearch($event)" placeholder="Ex. ヤマモト" #input
            Style="background-color:white;height:50px;width:1370px;">
    </mat-form-field>



    <form class="example-form" style="background-color:#FFFFFF;width:1400px;height:60px;margin-left:10px;">
        <table>
            <tr>
                <td>
                    <mat-label> Dealer Code </mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="在庫拠点" #input
                        Style="background-color:white;height:20px;width:100px;"[(ngModel)]="model.dealercode"[ngModelOptions]="{standalone: true}">

                </td>


                <td>
                    <mat-label> Sorting Number  </mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder=" 整理NO" #input
                        Style="background-color:white;height:20px;width:100px;"[(ngModel)]="model.sortno"[ngModelOptions]="{standalone: true}">

                </td>


                <td>
                    <mat-label>Category </mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="車種" #input
                        Style="background-color:white;height:20px;width:100px;"[(ngModel)]="model.carname"[ngModelOptions]="{standalone: true}">

                </td>


                <td>
                    <mat-label> Model Grade </mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="グレード" #input
                        Style="background-color:white;height:20px;width:100px;"[(ngModel)]="model.gradename"[ngModelOptions]="{standalone: true}">

                </td>

                <td>
                    <mat-label>YOR </mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="初度登録年" #input
                        Style="background-color:white;height:20px;width:100px;"[(ngModel)]="model.modelyear"[ngModelOptions]="{standalone: true}">

                </td>


                <td>
                    <mat-label> Color Code </mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="カラー" #input
                        Style="background-color:white;height:20px;width:100px;"[(ngModel)]="model.colorcode"[ngModelOptions]="{standalone: true}">

                </td>



               

                <td>
                    <mat-label> Mileage</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="走行距離" #input
                        Style="background-color:white;height:20px;width:100px;"[(ngModel)]="model.Mileage"[ngModelOptions]="{standalone: true}">

                </td>


                <td>
                    <mat-label>Expiry </mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="車検満了日"
                    #input
                        Style="background-color:white;height:20px;width:100px;"[(ngModel)]="model.expiredateofinsp"[ngModelOptions]="{standalone: true}">

                </td>

                <td>
                    <mat-label> VIN No.</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="車台番号" #input
                        Style="background-color:white;height:20px;width:100px;"[(ngModel)]="model.bodyno"[ngModelOptions]="{standalone: true}">

                </td>

                <td>
                    <mat-label>Price</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="価格" #input
                        Style="background-color:white;height:20px;width:100px;"[(ngModel)]="model.salesprice"[ngModelOptions]="{standalone: true}">

                </td>


                <!--                         
                        
                        
                            <td>
                                <mat-label>Availability Status</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="在庫状況 || Zaiko jōkyō" #input
                                    Style="background-color:white;height:20px;width:100px;">

                            </td> -->
            </tr>
        </table>
    </form>


    <hr>
    <form class="example-form"
        style="background-color:#FFFFFF;width:1400px;height:700px;margin-left:10px;margin-right:910px;">
        <!-- <mat-card-content>  -->
        <div class="example-header"></div>

        <mat-table [dataSource]="dataSource" matSort>


            <!-- ID Column -->
            <ng-container matColumnDef="dealercode">
                <mat-header-cell *matHeaderCellDef style="background-color:#001E50;color:#FFFFFF;">Dealer
                    Code <br> 在庫拠点</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.dealercode}} </mat-cell>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="sortno">
                <mat-header-cell *matHeaderCellDef style="background-color:#001E50;color:#FFFFFF;">Sorting
                    No. <br> 整理NO</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.sortno}} </mat-cell>
            </ng-container>



            <!-- Category -->
            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#001E50;color:#FFFFFF;">
                   Category <br> 車種
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.carname }} </mat-cell>
            </ng-container>

            <!-- Grade -->
            <ng-container matColumnDef="grade">
                <mat-header-cell (click)="sortKana()" *matHeaderCellDef mat-sort-header
                    style="background-color:#001E50;color:#FFFFFF;">
                    Model Grade <br> グレード
                    <!-- <span *ngIf="sortTable === 'asc'">&#x25B2;</span>
                              <span *ngIf="sortTable === 'desc'">&#x25BC;</span> -->
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.gradename }} </mat-cell>

            </ng-container>
            <!--MY-->
            <ng-container matColumnDef="yor">
                <mat-header-cell *matHeaderCellDef style="background-color:#001E50;color:#FFFFFF;" mat-sort-header>YOR <br> 初度登録年
                </mat-header-cell>
                <input matInput (keyup)="applyFilter($event)" placeholder="年式 || Nenshiki" #input
                    Style="background-color:white;height:30px;width:200px;">
                <mat-cell *matCellDef="let row"> {{ row.modelyear}} </mat-cell>
            </ng-container>

              


            <!-- Code -->
            <ng-container matColumnDef="colorcode">
                <mat-header-cell (click)="sortKana()" *matHeaderCellDef mat-sort-header
                    style="background-color:#001E50;color:#FFFFFF;">
                    Color Code <br> カラー
                    <!-- <span *ngIf="sortTable === 'asc'">&#x25B2;</span>
                              <span *ngIf="sortTable === 'desc'">&#x25BC;</span> -->
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.colorcode }} </mat-cell>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="mileage">
                <mat-header-cell *matHeaderCellDef style="background-color:#001E50;color:#FFFFFF;"> Mileage <br> 走行距離
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.mileage}} </mat-cell>
            </ng-container>


          
             <!--PR-->
             <ng-container matColumnDef="expiry">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background-color:#001E50;color:#FFFFFF;">Expiry <br> 車検満了日 <br>

                    YYYY/MM/DD
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.expiredateofinsp}} </mat-cell>
            </ng-container>

            <!--PR-->
            <ng-container matColumnDef="vinno">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#001E50;color:#FFFFFF;">VIN
                    No. <br> 車台番号
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.bodyno}} </mat-cell>
            </ng-container>

             <!--PR-->
             <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#001E50;color:#FFFFFF;">Price <br> 価格
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.salesprice}} </mat-cell>
            </ng-container>

            



           

            <!-- 
            Action
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <a (click)="openDialog('Update', element)">Edit</a> |
                    <a (click)="openDialog('Delete', element)">Delete</a>
                </td>
            </ng-container> -->


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </mat-table>
    </form>

</mat-card>

<div class="example-button-row">
    <button mat-raised-button color="primary" (click)="terminatealert()"
        style="margin-left:1200px;margin-top:40px;background-color:red;">Terminate</button>
    <button mat-button style="margin-left:20px;margin-top:40px;background-color:#001E50;color:white;" (click)="refreshPage()">Reset</button>
    
    <!-- <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
</div>