<!-- Section: Split screen -->
<div class="container">
    <span class="blueLabel"></span>
    <span class="evasLabel"></span>
    <section class="">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cardPosition">
                        <h4 class="signInicon">パスワード変更 </h4>
                        <br>

                        <div>
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="mb-3">



                                    <br>
                                    <label class="form-label labelCss">EVAS ID</label>
                                    <br>
                                    <mat-form-field class="setWidth">
                                        <span matPrefix class="userIcon"> <mat-icon>perm_identity</mat-icon></span>
                                        <input matInput formControlName="evasId" type="text" class="inputClass"
                                            [readonly]="true"
                                            [ngClass]="{ 'is-invalid': submitted && f.evasId.errors }">


                                    </mat-form-field>


                                </div>
                                <div class="mb-3">
                                    <label class="form-label labelCss">現在のパスワード</label>
                                    <br>
                                    <mat-form-field class="setWidth">
                                        <span matPrefix class="lockIcon"><span
                                                class="material-icons-outlined">lock</span></span>
                                        <input matInput formControlName="password" class="inputClass"
                                            [type]="hide ? 'password' : 'text'"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors  }">
                                        <mat-error *ngIf="f.password.errors?.required"
                                            class="invalid-feedback errorCss">
                                            パスワードを入力してください。
                                        </mat-error>
                                        <span matSuffix class="eyeIcon" *ngIf="f.password.value"> <mat-icon
                                                (click)="hide = !hide">{{hide ? 'visibility_off' :
                                                'visibility'}}</mat-icon></span>

                                    </mat-form-field>

                                </div>

                                <br>
                                <div class="mb-3">



                                    <label class="form-label labelCss">新しいパスワード</label>
                                    <br>
                                    <mat-form-field class="setWidth">
                                        <span matPrefix class="lockIcon"><span
                                                class="material-icons-outlined">lock</span></span>
                                        <input matInput formControlName="newPassword" class="inputClass"
                                            [type]="hide ? 'password' : 'text'"
                                            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors  }">

                                        <mat-error *ngIf="f.newPassword.errors?.required"
                                            class="invalid-feedback errorCss">
                                            パスワードを入力してください。
                                        </mat-error>
                                        <mat-error *ngIf="f.newPassword.hasError('passwordStrength')"
                                            class="invalid-feedback errorCss">
                                            パスワードの条件を満たしていません
                                        </mat-error>
                                        <span matSuffix class="eyeIcon" *ngIf="f.newPassword.value"> <mat-icon
                                                (click)="hide = !hide">{{hide ? 'visibility_off' :
                                                'visibility'}}</mat-icon></span>

                                    </mat-form-field>

                                </div>
                                <br>
                                <div class="mb-3">



                                    <label class="form-label labelCss">新しいパスワード確認用</label>
                                    <br>
                                    <mat-form-field class="setWidth">
                                        <span matPrefix class="lockIcon"><span
                                                class="material-icons-outlined">lock</span></span>
                                        <input matInput formControlName="confirmPassword" class="inputClass"
                                            [type]="hide ? 'password' : 'text'"
                                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors  }">

                                        <mat-error *ngIf="f.confirmPassword.errors?.required"
                                            class="invalid-feedback errorCss">
                                            パスワードを入力してください。.
                                        </mat-error>
                                        <mat-error *ngIf="f.confirmPassword.hasError('passwordStrength')"
                                            class="invalid-feedback errorCss">
                                            パスワードの条件を満たしていません
                                        </mat-error>

                                        <mat-error
                                            *ngIf="f.confirmPassword.touched&&f.confirmPassword.value!=f.confirmPassword.value">
                                            新しいパスワードと確認用パスワードが一致しません。
                                            新しいパスワード確認用欄には新しいパスワードと同じものを入力してください。

                                        </mat-error>


                                        <span matSuffix class="eyeIcon" *ngIf="f.confirmPassword.value"> <mat-icon
                                                (click)="hide = !hide">{{hide ? 'visibility_off' :
                                                'visibility'}}</mat-icon></span>

                                    </mat-form-field>

                                </div>
                                <br>
                                <div>
                                    <button [disabled]="loading" class="btn btn-primary loginImg">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                        確定
                                    </button>
                                    <br>
                                    <br>


                                </div>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="parent">
                        <img class="blueImg image1" src="/assets/MaskGroup3.png" alt="image">
                        <img class="blueImg image2" src="/assets/Rectangle.png" alt="image">
                        <img class=" image4" src="/assets/Rectangle1.png" alt="image">
                        <div class="blueImg image3">
                            <app-is-admin></app-is-admin>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<!-- Section: Split screen -->