<div class="container">
  <br>
    <mat-card-header>
      <mat-card-title layout="row" layout-align="center center" style="margin-left: 62px;text-align: left;
        letter-spacing: 0px;
        color: #7C7C7C;
        text-align: center;
        opacity: 1;">カスタマーカード</mat-card-title>
        <div class="example-button-row" style="float: right;margin-left: 527px;">
            <button mat-button color="primary"  style="background-color:#001E50;color:#FFFFFF;" (click)="ScreenDownload()">ダウンロードPDF</button>
            <button  mat-button color="primary" style="background-color:#001E50;color:#FFFFFF;margin-left: 10px;"  (click)="printPdf()">プリント</button> 
           </div>
     
    </mat-card-header>
    <hr>
  
    <br>
  
  
   
  
      <div class="container"  >
          <pdf-viewer
            [src]="pdfSrc"
            [rotation]="0"
            [original-size]="false"
            [show-all]="true"
            [fit-to-page]="true"
            [zoom]="1"
            [zoom-scale]="'page-width'"
            [stick-to-page]="false"
            [render-text]="false"
            [external-link-target]="'blank'"
            [autoresize]="false"
            
            (after-load-complete)="callBackFn($event)"
            style="width: 100vw;  height: calc(100vh - 100px);overflow: hidden;"
          ></pdf-viewer>
        </div>
  
   
     
          
           
            
             <hr>
         
  </div>
  
  