
    <ng-container *ngIf="isAdmin==false">
    <pre  class="setContent">
        <div class="row">
        <h4 class="hclass ">パスワードルール：</h4>
    </div>
   
    <div>
        ・パスワードは英字（大文字・小文字）・数字・記号をそれぞれ含む
          12文字以上で設定してください。
        ・英字は大文字と小文字を区別します。
        ・使用可能な記号は「! " # $ % & ' ( ) + - . / : @ [ ] _」です。
         それ以外の記号は使用できません。
        ・過去5回分と同じパスワードは設定できません。
    </div>
    </pre>
</ng-container>
<ng-container *ngIf="isAdmin==true"  >
    <pre class="setContent">
        <h4 class="hclass ">パスワードルール：</h4>
        ・パスワードは英字（大文字・小文字）・数字・記号をそれぞれ含む
         16文字以上で設定してください。
        ・英字は大文字と小文字を区別します。
        ・使用可能な記号は「! " # $ % & ' ( ) + - . / : @ [ ] _」です。
         それ以外の記号は使用できません。
        ・過去5回分と同じパスワードは設定できません。

    </pre>
</ng-container>