.setContent{
   
    color: floralwhite;
    text-align: left;
    font: normal normal normal 14px arial;
    letter-spacing: 0px;
    opacity: 1;
    overflow: hidden;
  
  }
  .hclass{
   
    font: normal normal normal 16px arial;
  }