<div *ngIf="data.lockImg==true">
  <div class="row">
    <div mat-dialog-content dialogCss>
      <div class="column1 lockImg">
        <img src="../../../assets/Device.png" alt="image">
      </div>

      <div class="column2">
        <span mat-dialog-title>{{data.title}}</span>
        {{data.message}}
        <span *ngIf="data.type!='jp'&&data.component=='forgotPassword'"><a (click)="clickLink()"
            routerLink="../account/forgotPassword" class="btn btn-link btnCss">Forgot Password</a></span>
      </div>
      <div *ngIf="data.buttonType!='jp'" style="float:right;margin:20px">
        <button style="margin:0px 10px; ;margin-top: 63px;" type="button" value="Confirm" class="btn btn-primary"
          [mat-dialog-close]="true">Confirm
        </button>
      </div>

    </div>
  </div>
  <div *ngIf="data.buttonType=='jp'" style="float:right;margin:20px;">

    <button style="margin:0px 10px;" type="button" value="確定" class="btn btn-primary" [mat-dialog-close]="true">確定
    </button>
  </div>
</div>

<div *ngIf="!data.lockImg">
  <div mat-dialog-content dialogCss>

    <span mat-dialog-title>{{data.title}}</span>
    {{data.message}}
    <span *ngIf="data.type!='jp'&&data.component=='forgotPassword'"><a (click)="clickLink()"
        routerLink="../account/forgotPassword" class="btn btn-link btnCss">Forgot Password</a></span>
  </div>
  <div *ngIf="data.buttonType!='jp' " style="float:right;margin:20px">
    <button style="margin:0px 10px;" type="button" value="Confirm" class="btn btn-primary"
      [mat-dialog-close]="true">Confirm
    </button>
  </div>


  <div class="setFont" *ngIf="data.buttonType=='jp'" style="float:right;margin:20px;">

    <button style="margin:0px 10px;" type="button" value="確定" class="btn btn-primary" [mat-dialog-close]="true">確認
    </button>
  </div>

</div>