.cardPosition{
    margin-left: 100px;
    margin-top: 266px;
     }
     .evasicon{
      width: 139px;
      height: 59px;
  opacity: 1;
     }
     .setWidth{
      width: 85%;
     }
     .labelCss{
      text-align: left;
  font: normal normal medium 15px/18px Lato;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
     }
     .signInicon{
      width: 240px;
  height: 44px;
  color:#006384
     }
     .messageIcon{
      width: 21px;
  height: 21px;
  color:#000000
     }
     .inner-addon { 
      position: relative; 
  }.innerCss{
  
  
  background: url(../../assets/message1.png) no-repeat scroll 7px 1px;
  padding-left:40px;
  }
  .passwordinvisible{
      background:url(../../assets/padlock1.png) no-repeat scroll 7px -1px;
       /* url(../../assets/invisible1.png) no-repeat 388px;  */
      padding-left:40px;
  }
  .innerPwdCss{
          background: url(../../assets/padlock1.png) no-repeat scroll 7px 7px;
          padding-left:40px;
          }
          .blueImg{
            width: 939px;
  height: 750px;
  margin-top: 11px;
          }
          .loginImg{
             
              width: 427px;
              height: 50px;
              color: white;
              /* background-color: #001E50; */
              border-radius: 74px;
          }
          .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #001E50 !important;
        }
          .loginDiv{
              margin-left: -31px;
          }
          .parent {
              position: relative;
              top: 0;
              left: 0;
            }
            .image1 {
              position: relative;
              top: 0;
              left: 0;
             
            }
            .image2 {
              position: absolute;
              top: 213px;
              width: 725px;
              height: 423px;
          }
  
            
            .image3 {
              position: absolute;
              top: 379px;
              width: 607px;
              height: 249px;
              margin-left: 41px;
          }
            
          .image4 {
            position: absolute;
            top: 212px;
  
      /* width: 37px; */
      height: 424px;
      margin-left: -5px;
      border-radius: 9px 0px 0px 9px;
      opacity: 0.87;
      left: -18px;
          }
            .remeberMe{
              margin-left: 8px;
            }
            .input-icons i {
              position: absolute;
          }
            
          .input-icons {
              width: 100%;
              margin-bottom: 10px;
          }
            
          .icon {
              padding: 10px;
              min-width: 40px;
          }
            
          .input-field {
              width: 100%;
              padding: 10px;
              text-align: center;
          }
          .setContent{
            color: floralwhite;
            margin-top: -9px;
            text-align: left;
  font: normal normal normal 20px/23px Lato;
  letter-spacing: 0px;
  
  opacity: 1;
        }
        .userIcon{
          /* width: 16px;
  height: 19px;
  
  background: transparent url('../../assets/user.png') 0% 0% no-repeat padding-box;
  opacity: 1; */
  margin-left: 6px;
      color: #001E50;
        }
        .lockIcon{
          margin-top:2px;
          margin-left: 6px;
          color: #001E50;
          
        }
        .inputClass{
          margin-left:8px;
        }
        .eyeIcon{
          color: #001E50;
          padding-right: 18px;
        }
        invalid-feedback{
          color:#AB0031;
        }
        .blueLabel{
          width: 203px;
  height: 110px;
  margin-top: 1%;
  position: absolute;
  /* UI Properties */
  background: transparent url('../../assets/blueLabel.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: -86px;
        }
        .evasLabel{
          width: 175px;
  height: 74px;
  /* UI Properties */
  background: transparent url('../../assets/evasLabelIcon.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  margin-left: 26%;
      margin-top: 2%;
        }