<!-- Section: Split screen -->
<div class="container">
    <span class="blueLabel"></span>
    <span class="evasLabel"></span>
    <section class="">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cardPosition">
                        <h4 class="signInicon">Forgot Password</h4>
                        <br>

                        <div>
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="mb-3">
                                    <br>
                                    <label class="form-label labelCss">EVAS ID</label>
                                    <br>
                                    <mat-form-field class="setWidth">

                                        <span matPrefix class="userIcon"> <mat-icon>perm_identity</mat-icon></span>
                                        <input matInput class="inputClass" formControlName="evasId"
                                            placeholder="Enter EVAS ID" type="text"
                                            [ngClass]="{ 'is-invalid': submitted && f.evasId.errors }">
                                        <mat-error *ngIf="submitted && f.evasId.errors || f.evasId.errors?.required"
                                            class="invalid-feedback">EVAS ID is required</mat-error>

                                    </mat-form-field>


                                </div>
                                <div class="mb-3">
                                    <label class="form-label labelCss">Email Address</label>
                                    <br>
                                    <mat-form-field class="setWidth">


                                        <span matPrefix class="lockIcon"><span
                                                class="material-icons-outlined">email</span></span>


                                        <input matInput class="inputClass" formControlName="email"
                                            placeholder="Enter Email Address" type="email"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors  }">


                                        <mat-error *ngIf="submitted && f.email.errors || f.email.errors?.required"
                                            class="invalid-feedback">Email address is required</mat-error>
                                        <mat-error *ngIf=" f.email.errors?.pattern" class="invalid-feedback">Invalid
                                            Email address</mat-error>



                                    </mat-form-field>





                                </div>

                                <br>
                                <div>

                                    <button [disabled]="loading" class="btn btn-primary loginImg">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                        Send Reset Link
                                    </button>



                                </div>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="parent">
                        <img class="blueImg image1" src="/assets/MaskGroup3.png" alt="image">
                        <img class=" image2" src="/assets/Rectangle.png" alt="image">
                        <img class=" image4" src="/assets/Rectangle1.png" alt="image">
                        <div class="blueImg image3">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<!-- Section: Split screen -->