<mat-card style="background:#F5F5F5;height:1500px;width:1420px;margin-left:10px;overflow-x: hidden; ">
    <mat-card-header style="margin-bottom:20px; ">
        <mat-card-title layout="row" layout-align="center center" style="margin-left:20px;text-align: left;MARGIN-TOP:50PX;
        font: normal normal bold 22px Lato;
        letter-spacing: 0px;
        color: #7C7C7C;
        opacity: 1;">List of Available Vehicles || 利用可能な車両のリスト || Riyō kanōna sharyō no risuto</mat-card-title>
        <div class="example-button-row">
            <button mat-button style="margin-left:200px;margin-top:40px;background-color:#001E50;color:#FFFFFF;"
                (click)="information()">View Records || 記録を見る || Kiroku o miru </button>
             </div>

    </mat-card-header>

    <br>

    <table>
        <th> </th>
    
        <tr> 
            <td>
                <mat-label style="margin-left:1100px;"> Search By Number Of Distributors </mat-label>
            </td>

        </tr>



        <tr>
           
          
            <td>
  <section class="example-section" style="margin-left:1100px;">
                        <mat-checkbox class="example-margin"(change)="onChkChange($event)">In Stock</mat-checkbox>
                        <mat-checkbox class="example-margin" [disabled]="true">Out Of Stock</mat-checkbox>
                      </section>

            </td>




        </tr>
    </table>



    <hr>

    <mat-form-field>
        <mat-label> Search record || 検索記録 || Kensaku kiroku ||</mat-label>
        <input matInput (keyup)="applyFilterSearch($event)" placeholder="Ex. ヤマモト" #input
            Style="background-color:white;height:50px;">
    </mat-form-field>
    <form class="example-form" style="background-color:#FFFFFF;width:1400px;height:60px;margin-left:10px;">
        <table>
            <th></th>
            <tr>
                <td>
                    <mat-label> Color Name </mat-label>
                    <input matInput [(ngModel)]="model.colorname"(keyup)="applyFilter($event)" name="colorname" placeholder="インテリア" #input
                        Style="background-color:white;height:20px;width:200px;"[ngModelOptions]="{standalone: true}">
                </td>

                <td>
                    <mat-label> Color Code </mat-label>
                    <input matInput  [(ngModel)]="model.colorcode"(keyup)="applyFilter($event)" placeholder="インテリア" #input
                        Style="background-color:white;height:20px;width:200px;"[ngModelOptions]="{standalone: true}" >
                </td>

                <td>
                    <mat-label> Interior Name </mat-label>
                    <input matInput  [(ngModel)]="model.interiorname" (keyup)="applyFilter($event)" placeholder="インテリア" #input
                        Style="background-color:white;height:20px;width:200px;"[ngModelOptions]="{standalone: true}">
                </td>

                <td>
                    <mat-label> Interior Code </mat-label>
                    <input [(ngModel)]="model.interiorcode" matInput (keyup)="applyFilter($event)" placeholder="インテリア" #input
                        Style="background-color:white;height:20px;width:200px;"[ngModelOptions]="{standalone: true}">
                </td>


                <td>
                    <mat-label> Vehicle Body Price </mat-label>
                    <input matInput [(ngModel)]="model.vehiclepriceintax" (keyup)="applyFilter($event)" placeholder="車両本体価格" #input
                        Style="background-color:white;height:20px;width:200px;"[ngModelOptions]="{standalone: true}">
                </td>

                <td>
                    <mat-label> No. of Distributors in Stock </mat-label>
                    <input matInput [(ngModel)]="model.distributorinventory"  (keyup)="applyFilter($event)" placeholder="販社在庫数" #input
                        Style="background-color:white;height:20px;width:200px;"[ngModelOptions]="{standalone: true}">
                </td>

                <td>
                    <mat-label>Store Inventory Quantity</mat-label>
                    <input matInput  [(ngModel)]="model.storeinventory"(keyup)="applyFilter($event)" placeholder="店舗在庫数" #input
                        Style="background-color:white;height:20px;width:200px;"[ngModelOptions]="{standalone: true}">
                </td>

              
            </tr>
        </table>
    </form>
    <hr>
    <form class="example-form"
        style="background-color:#FFFFFF;width:1400px;height:700px;margin-left:10px;margin-right:910px;">
        <!-- <mat-card-content>  -->
        <div class="example-header"></div>

        <mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="colorname">
                <mat-header-cell (click)="sortKana()" *matHeaderCellDef
                    style="background-color:#001E50;color:#FFFFFF;">Color Name <br> カラー </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.colorname}} </mat-cell>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="colorcode">
                <mat-header-cell (click)="sortKana()" *matHeaderCellDef
                    style="background-color:#001E50;color:#FFFFFF;">Color Code <br> カラー</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.colorcode}} </mat-cell>
            </ng-container>

            <!-- Category -->
            <ng-container matColumnDef="interiorname">
                <mat-header-cell (click)="sortKana()" *matHeaderCellDef mat-sort-header
                    style="background-color:#001E50;color:#FFFFFF;">
                    Interior Name <br> インテリア
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.interiorname }} </mat-cell>
            </ng-container>

               <!-- Category -->
               <ng-container matColumnDef="interiorcode">
                <mat-header-cell (click)="sortKana()" *matHeaderCellDef mat-sort-header
                    style="background-color:#001E50;color:#FFFFFF;">
                    Interior Code <br> インテリア
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.interiorcode }} </mat-cell>
            </ng-container>
            <!-- Grade -->
            <ng-container matColumnDef="bodyprice">
                <mat-header-cell (click)="sortKana()" *matHeaderCellDef mat-sort-header
                    style="background-color:#001E50;color:#FFFFFF;">
                   Vehicle Body Price <br> 車両本体価格
         </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.vehiclepriceintax }} </mat-cell>

            </ng-container>

            <!-- Code -->
            <ng-container matColumnDef="distributorstock">
                <mat-header-cell (click)="sortKana()" *matHeaderCellDef mat-sort-header
                    style="background-color:#001E50;color:#FFFFFF;">
                       </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.distributorinventory }} </mat-cell>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="inventory">
                <mat-header-cell (click)="sortKana()" *matHeaderCellDef style="background-color:#001E50;color:#FFFFFF;">
                    Store Inventory Quantity <br> 店舗在庫数 </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.storeinventory}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </mat-table>
    </form>
</mat-card>

<div class="example-button-row">
    <button mat-raised-button color="primary" (click)="terminatealert()"
        style="margin-left:1200px;margin-top:40px;background-color:red;">Terminate</button>
    <button mat-button style="margin-left:20px;margin-top:40px;background-color:#001E50;color:white;" (click)="refreshPage()">Reset</button>
 </div>
